<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataone</key>
	<array>
		<dict>
			<key>icon</key>
			<string>dataoneicon1.png</string>
			<key>name</key>
			<string>甜玉米</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon2.png</string>
			<key>name</key>
			<string>鲜牛肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon3.png</string>
			<key>name</key>
			<string>黄辣椒</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon4.png</string>
			<key>name</key>
			<string>鲜汁饮料</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon5.png</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon6.png</string>
			<key>name</key>
			<string>极美滋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon7.png</string>
			<key>name</key>
			<string>笋瓜</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon8.png</string>
			<key>name</key>
			<string>美客多</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon9.png</string>
			<key>name</key>
			<string>草莓泡芙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon10.png</string>
			<key>name</key>
			<string>防爆被子</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon11.png</string>
			<key>name</key>
			<string>精美餐具</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>dataoneicon12.png</string>
			<key>name</key>
			<string>鲜蒸鸡蛋</string>
		</dict>
	</array>
	<key>datatwo</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datatwoicon1.png</string>
			<key>name</key>
			<string>甜玉米</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon2.png</string>
			<key>name</key>
			<string>鲜牛肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon3.png</string>
			<key>name</key>
			<string>黄辣椒</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon4.png</string>
			<key>name</key>
			<string>鲜汁饮料</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon5.png</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon6.png</string>
			<key>name</key>
			<string>极美滋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon7.png</string>
			<key>name</key>
			<string>笋瓜</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon8.png</string>
			<key>name</key>
			<string>美客多</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon9.png</string>
			<key>name</key>
			<string>草莓泡芙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon10.png</string>
			<key>name</key>
			<string>防爆被子</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon11.png</string>
			<key>name</key>
			<string>精美餐具</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon12.png</string>
			<key>name</key>
			<string>鲜蒸鸡蛋</string>
		</dict>
	</array>
	<key>datathree</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datathreeicon1.png</string>
			<key>name</key>
			<string>甜玉米</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon2.png</string>
			<key>name</key>
			<string>鲜牛肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon3.png</string>
			<key>name</key>
			<string>黄辣椒</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon4.png</string>
			<key>name</key>
			<string>鲜汁饮料</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon5.png</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon6.png</string>
			<key>name</key>
			<string>极美滋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon7.png</string>
			<key>name</key>
			<string>笋瓜</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon8.png</string>
			<key>name</key>
			<string>美客多</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon9.png</string>
			<key>name</key>
			<string>草莓泡芙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon10.png</string>
			<key>name</key>
			<string>防爆被子</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon11.png</string>
			<key>name</key>
			<string>精美餐具</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon12.png</string>
			<key>name</key>
			<string>鲜蒸鸡蛋</string>
		</dict>
	</array>
	<key>datafour</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datafouricon1.png</string>
			<key>name</key>
			<string>甜玉米</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon2.png</string>
			<key>name</key>
			<string>鲜牛肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon3.png</string>
			<key>name</key>
			<string>黄辣椒</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon4.png</string>
			<key>name</key>
			<string>鲜汁饮料</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon5.png</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon6.png</string>
			<key>name</key>
			<string>极美滋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon7.png</string>
			<key>name</key>
			<string>笋瓜</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon8.png</string>
			<key>name</key>
			<string>美客多</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon9.png</string>
			<key>name</key>
			<string>草莓泡芙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon10.png</string>
			<key>name</key>
			<string>防爆被子</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon11.png</string>
			<key>name</key>
			<string>精美餐具</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon12.png</string>
			<key>name</key>
			<string>鲜蒸鸡蛋</string>
		</dict>
	</array>
	<key>datafive</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datafiveicon1.png</string>
			<key>name</key>
			<string>甜玉米</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon2.png</string>
			<key>name</key>
			<string>鲜牛肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon3.png</string>
			<key>name</key>
			<string>黄辣椒</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon4.png</string>
			<key>name</key>
			<string>鲜汁饮料</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon5.png</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon6.png</string>
			<key>name</key>
			<string>极美滋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon7.png</string>
			<key>name</key>
			<string>笋瓜</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon8.png</string>
			<key>name</key>
			<string>美客多</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon9.png</string>
			<key>name</key>
			<string>草莓泡芙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon10.png</string>
			<key>name</key>
			<string>防爆被子</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon11.png</string>
			<key>name</key>
			<string>精美餐具</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafiveicon12.png</string>
			<key>name</key>
			<string>鲜蒸鸡蛋</string>
		</dict>
	</array>
	<key>datasix</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datasixicon1.png</string>
			<key>name</key>
			<string>甜玉米</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon2.png</string>
			<key>name</key>
			<string>鲜牛肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon3.png</string>
			<key>name</key>
			<string>黄辣椒</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon4.png</string>
			<key>name</key>
			<string>鲜汁饮料</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon5.png</string>
			<key>name</key>
			<string>鲜牛奶</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon6.png</string>
			<key>name</key>
			<string>极美滋</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon7.png</string>
			<key>name</key>
			<string>笋瓜</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon8.png</string>
			<key>name</key>
			<string>美客多</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon9.png</string>
			<key>name</key>
			<string>草莓泡芙</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon10.png</string>
			<key>name</key>
			<string>防爆被子</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon11.png</string>
			<key>name</key>
			<string>精美餐具</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datasixicon12.png</string>
			<key>name</key>
			<string>鲜蒸鸡蛋</string>
		</dict>
	</array>
</dict>
</plist>
