<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>day</key>
	<array>
		<array>
			<dict>
				<key>icon</key>
				<string>statisbicon1.png</string>
				<key>name</key>
				<string>肯德基午餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisbicon2.png</string>
				<key>name</key>
				<string>IC卡充值</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisbicon3.png</string>
				<key>name</key>
				<string>购买蔬菜</string>
				<key>price</key>
				<string>20元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisbicon4.png</string>
				<key>name</key>
				<string>肯德基晚餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisbicon5.png</string>
				<key>name</key>
				<string>夜宵</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisbicon6.png</string>
				<key>name</key>
				<string>吃饭</string>
				<key>price</key>
				<string>10元</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>icon</key>
				<string>statisgicon1.png</string>
				<key>name</key>
				<string>肯德基早餐</string>
				<key>price</key>
				<string>10元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisgicon2.png</string>
				<key>name</key>
				<string>鲜花</string>
				<key>price</key>
				<string>200元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisgicon3.png</string>
				<key>name</key>
				<string>资料打印</string>
				<key>price</key>
				<string>20元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisgicon4.png</string>
				<key>name</key>
				<string>肯德基午餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisgicon5.png</string>
				<key>name</key>
				<string>买文具</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisgicon6.png</string>
				<key>name</key>
				<string>吃饭</string>
				<key>price</key>
				<string>120元</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>icon</key>
				<string>statisyicon1.png</string>
				<key>name</key>
				<string>肯德基午餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisyicon2.png</string>
				<key>name</key>
				<string>IC卡充值</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisyicon3.png</string>
				<key>name</key>
				<string>购买蔬菜</string>
				<key>price</key>
				<string>20元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisyicon4.png</string>
				<key>name</key>
				<string>肯德基晚餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisyicon5.png</string>
				<key>name</key>
				<string>夜宵</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisyicon6.png</string>
				<key>name</key>
				<string>吃饭</string>
				<key>price</key>
				<string>10元</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>icon</key>
				<string>statisoicon1.png</string>
				<key>name</key>
				<string>买电脑</string>
				<key>price</key>
				<string>4000元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisoicon2.png</string>
				<key>name</key>
				<string>买电视</string>
				<key>price</key>
				<string>2000元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisoicon3.png</string>
				<key>name</key>
				<string>买冰箱</string>
				<key>price</key>
				<string>2000元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisoicon4.png</string>
				<key>name</key>
				<string>买汽车</string>
				<key>price</key>
				<string>400000元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisoicon5.png</string>
				<key>name</key>
				<string>买空调</string>
				<key>price</key>
				<string>2000元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisoicon6.png</string>
				<key>name</key>
				<string>买房子</string>
				<key>price</key>
				<string>1000元</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>icon</key>
				<string>statisricon1.png</string>
				<key>name</key>
				<string>肯德基午餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisricon2.png</string>
				<key>name</key>
				<string>IC卡充值</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisricon3.png</string>
				<key>name</key>
				<string>购买蔬菜</string>
				<key>price</key>
				<string>20元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisricon4.png</string>
				<key>name</key>
				<string>肯德基晚餐</string>
				<key>price</key>
				<string>40元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisricon5.png</string>
				<key>name</key>
				<string>夜宵</string>
				<key>price</key>
				<string>100元</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>statisricon6.png</string>
				<key>name</key>
				<string>吃饭</string>
				<key>price</key>
				<string>10元</string>
			</dict>
		</array>
	</array>
	<key>zhou</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datatwoicon1.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon2.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon3.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon4.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon5.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon6.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon7.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon8.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon9.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon10.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon11.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datatwoicon12.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
	</array>
	<key>mom</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datathreeicon1.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon2.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon3.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon4.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon5.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon6.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon7.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon8.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon9.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon10.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon11.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datathreeicon12.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
	</array>
	<key>year</key>
	<array>
		<dict>
			<key>icon</key>
			<string>datafouricon1.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon2.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon3.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon4.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon5.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon6.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon7.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon8.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon9.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon10.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon11.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>datafouricon12.png</string>
			<key>name</key>
			<string>洋葱</string>
		</dict>
	</array>
</dict>
</plist>
