<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allclass</key>
	<array>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>大洋百货</string>
			<key>grade</key>
			<string>4.0</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>90</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>新街口百货</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>万达百货</string>
			<key>grade</key>
			<string>4.3</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>小行</string>
			<key>name</key>
			<string>小行百货</string>
			<key>grade</key>
			<string>3.0</string>
			<key>distance</key>
			<string>10</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>油坊桥</string>
			<key>name</key>
			<string>吖吖百货</string>
			<key>grade</key>
			<string>1.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>300</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon6.png</string>
			<key>address</key>
			<string>苜蓿园</string>
			<key>name</key>
			<string>地铁站</string>
			<key>grade</key>
			<string>2.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>200</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon7.png</string>
			<key>address</key>
			<string>仙林</string>
			<key>name</key>
			<string>金鹰新天地</string>
			<key>grade</key>
			<string>5.0</string>
			<key>distance</key>
			<string>900</string>
			<key>number</key>
			<string>304</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon8.png</string>
			<key>address</key>
			<string>三牌楼</string>
			<key>name</key>
			<string>军人俱乐部</string>
			<key>grade</key>
			<string>7.0</string>
			<key>distance</key>
			<string>509</string>
			<key>number</key>
			<string>130</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon9.png</string>
			<key>address</key>
			<string>大桥</string>
			<key>name</key>
			<string>大桥北站</string>
			<key>grade</key>
			<string>8.0</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>238</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon10.png</string>
			<key>address</key>
			<string>大桥北路</string>
			<key>name</key>
			<string>华侨城商店</string>
			<key>grade</key>
			<string>6.5</string>
			<key>distance</key>
			<string>905</string>
			<key>number</key>
			<string>190</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon11.png</string>
			<key>address</key>
			<string>浦口星火路</string>
			<key>name</key>
			<string>测试</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>134</string>
			<key>number</key>
			<string>506</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon12.png</string>
			<key>address</key>
			<string>新城科技园</string>
			<key>name</key>
			<string>13层</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>67</string>
			<key>number</key>
			<string>46</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon13.png</string>
			<key>address</key>
			<string>明基医院</string>
			<key>name</key>
			<string>测试测试</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon14.png</string>
			<key>address</key>
			<string>测测试试</string>
			<key>name</key>
			<string>qu</string>
			<key>grade</key>
			<string>6.9</string>
			<key>distance</key>
			<string>234</string>
			<key>number</key>
			<string>366</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon15.png</string>
			<key>address</key>
			<string>安德门地铁站</string>
			<key>name</key>
			<string>民工市场</string>
			<key>grade</key>
			<string>9.0</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>534</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>鼓楼</string>
			<key>name</key>
			<string>鼓楼医院</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>12</string>
			<key>number</key>
			<string>53</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>玄武湖</string>
			<key>name</key>
			<string>玄武湖公园</string>
			<key>grade</key>
			<string>9.8</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>543</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>梅花公园</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>明孝陵地铁</string>
			<key>name</key>
			<string>aaa</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>546</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>上海路</string>
			<key>name</key>
			<string>狮子桥美食街</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>56</string>
			<key>number</key>
			<string>86</string>
		</dict>
	</array>
	<key>shops</key>
	<array>
		<dict>
			<key>icon</key>
			<string>buyicon7.png</string>
			<key>address</key>
			<string>仙林</string>
			<key>name</key>
			<string>金鹰新天地</string>
			<key>grade</key>
			<string>5.0</string>
			<key>distance</key>
			<string>900</string>
			<key>number</key>
			<string>304</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon14.png</string>
			<key>address</key>
			<string>测测试试</string>
			<key>name</key>
			<string>qu</string>
			<key>grade</key>
			<string>6.9</string>
			<key>distance</key>
			<string>234</string>
			<key>number</key>
			<string>366</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon9.png</string>
			<key>address</key>
			<string>大桥</string>
			<key>name</key>
			<string>大桥北站</string>
			<key>grade</key>
			<string>8.0</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>238</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>万达百货</string>
			<key>grade</key>
			<string>4.3</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>玄武湖</string>
			<key>name</key>
			<string>玄武湖公园</string>
			<key>grade</key>
			<string>9.8</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>543</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>鼓楼</string>
			<key>name</key>
			<string>鼓楼医院</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>12</string>
			<key>number</key>
			<string>53</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon13.png</string>
			<key>address</key>
			<string>明基医院</string>
			<key>name</key>
			<string>测试测试</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>上海路</string>
			<key>name</key>
			<string>狮子桥美食街</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>56</string>
			<key>number</key>
			<string>86</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>大洋百货</string>
			<key>grade</key>
			<string>4.0</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>90</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>新街口百货</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>小行</string>
			<key>name</key>
			<string>小行百货</string>
			<key>grade</key>
			<string>3.0</string>
			<key>distance</key>
			<string>10</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>油坊桥</string>
			<key>name</key>
			<string>吖吖百货</string>
			<key>grade</key>
			<string>1.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>300</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon6.png</string>
			<key>address</key>
			<string>苜蓿园</string>
			<key>name</key>
			<string>地铁站</string>
			<key>grade</key>
			<string>2.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>200</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon8.png</string>
			<key>address</key>
			<string>三牌楼</string>
			<key>name</key>
			<string>军人俱乐部</string>
			<key>grade</key>
			<string>7.0</string>
			<key>distance</key>
			<string>509</string>
			<key>number</key>
			<string>130</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon10.png</string>
			<key>address</key>
			<string>大桥北路</string>
			<key>name</key>
			<string>华侨城商店</string>
			<key>grade</key>
			<string>6.5</string>
			<key>distance</key>
			<string>905</string>
			<key>number</key>
			<string>190</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon11.png</string>
			<key>address</key>
			<string>浦口星火路</string>
			<key>name</key>
			<string>测试</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>134</string>
			<key>number</key>
			<string>506</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon12.png</string>
			<key>address</key>
			<string>新城科技园</string>
			<key>name</key>
			<string>13层</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>67</string>
			<key>number</key>
			<string>46</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon15.png</string>
			<key>address</key>
			<string>安德门地铁站</string>
			<key>name</key>
			<string>民工市场</string>
			<key>grade</key>
			<string>9.0</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>534</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>梅花公园</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>明孝陵地铁</string>
			<key>name</key>
			<string>aaa</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>546</string>
		</dict>
	</array>
	<key>clothing</key>
	<array>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>新街口百货</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>明孝陵地铁</string>
			<key>name</key>
			<string>aaa</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>546</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>鼓楼</string>
			<key>name</key>
			<string>鼓楼医院</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>12</string>
			<key>number</key>
			<string>53</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon13.png</string>
			<key>address</key>
			<string>明基医院</string>
			<key>name</key>
			<string>测试测试</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon9.png</string>
			<key>address</key>
			<string>大桥</string>
			<key>name</key>
			<string>大桥北站</string>
			<key>grade</key>
			<string>8.0</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>238</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>油坊桥</string>
			<key>name</key>
			<string>吖吖百货</string>
			<key>grade</key>
			<string>1.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>300</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon6.png</string>
			<key>address</key>
			<string>苜蓿园</string>
			<key>name</key>
			<string>地铁站</string>
			<key>grade</key>
			<string>2.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>200</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>大洋百货</string>
			<key>grade</key>
			<string>4.0</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>90</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>万达百货</string>
			<key>grade</key>
			<string>4.3</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>小行</string>
			<key>name</key>
			<string>小行百货</string>
			<key>grade</key>
			<string>3.0</string>
			<key>distance</key>
			<string>10</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon7.png</string>
			<key>address</key>
			<string>仙林</string>
			<key>name</key>
			<string>金鹰新天地</string>
			<key>grade</key>
			<string>5.0</string>
			<key>distance</key>
			<string>900</string>
			<key>number</key>
			<string>304</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon8.png</string>
			<key>address</key>
			<string>三牌楼</string>
			<key>name</key>
			<string>军人俱乐部</string>
			<key>grade</key>
			<string>7.0</string>
			<key>distance</key>
			<string>509</string>
			<key>number</key>
			<string>130</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon10.png</string>
			<key>address</key>
			<string>大桥北路</string>
			<key>name</key>
			<string>华侨城商店</string>
			<key>grade</key>
			<string>6.5</string>
			<key>distance</key>
			<string>905</string>
			<key>number</key>
			<string>190</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon11.png</string>
			<key>address</key>
			<string>浦口星火路</string>
			<key>name</key>
			<string>测试</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>134</string>
			<key>number</key>
			<string>506</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon12.png</string>
			<key>address</key>
			<string>新城科技园</string>
			<key>name</key>
			<string>13层</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>67</string>
			<key>number</key>
			<string>46</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon14.png</string>
			<key>address</key>
			<string>测测试试</string>
			<key>name</key>
			<string>qu</string>
			<key>grade</key>
			<string>6.9</string>
			<key>distance</key>
			<string>234</string>
			<key>number</key>
			<string>366</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon15.png</string>
			<key>address</key>
			<string>安德门地铁站</string>
			<key>name</key>
			<string>民工市场</string>
			<key>grade</key>
			<string>9.0</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>534</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>玄武湖</string>
			<key>name</key>
			<string>玄武湖公园</string>
			<key>grade</key>
			<string>9.8</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>543</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>梅花公园</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>上海路</string>
			<key>name</key>
			<string>狮子桥美食街</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>56</string>
			<key>number</key>
			<string>86</string>
		</dict>
	</array>
	<key>supermarket</key>
	<array>
		<dict>
			<key>icon</key>
			<string>buyicon13.png</string>
			<key>address</key>
			<string>明基医院</string>
			<key>name</key>
			<string>测试测试</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>新街口百货</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>梅花公园</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon15.png</string>
			<key>address</key>
			<string>安德门地铁站</string>
			<key>name</key>
			<string>民工市场</string>
			<key>grade</key>
			<string>9.0</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>534</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon14.png</string>
			<key>address</key>
			<string>测测试试</string>
			<key>name</key>
			<string>qu</string>
			<key>grade</key>
			<string>6.9</string>
			<key>distance</key>
			<string>234</string>
			<key>number</key>
			<string>366</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>油坊桥</string>
			<key>name</key>
			<string>吖吖百货</string>
			<key>grade</key>
			<string>1.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>300</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>小行</string>
			<key>name</key>
			<string>小行百货</string>
			<key>grade</key>
			<string>3.0</string>
			<key>distance</key>
			<string>10</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>大洋百货</string>
			<key>grade</key>
			<string>4.0</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>90</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon3.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>万达百货</string>
			<key>grade</key>
			<string>4.3</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>110</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon6.png</string>
			<key>address</key>
			<string>苜蓿园</string>
			<key>name</key>
			<string>地铁站</string>
			<key>grade</key>
			<string>2.0</string>
			<key>distance</key>
			<string>100</string>
			<key>number</key>
			<string>200</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon7.png</string>
			<key>address</key>
			<string>仙林</string>
			<key>name</key>
			<string>金鹰新天地</string>
			<key>grade</key>
			<string>5.0</string>
			<key>distance</key>
			<string>900</string>
			<key>number</key>
			<string>304</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon8.png</string>
			<key>address</key>
			<string>三牌楼</string>
			<key>name</key>
			<string>军人俱乐部</string>
			<key>grade</key>
			<string>7.0</string>
			<key>distance</key>
			<string>509</string>
			<key>number</key>
			<string>130</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon9.png</string>
			<key>address</key>
			<string>大桥</string>
			<key>name</key>
			<string>大桥北站</string>
			<key>grade</key>
			<string>8.0</string>
			<key>distance</key>
			<string>109</string>
			<key>number</key>
			<string>238</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon10.png</string>
			<key>address</key>
			<string>大桥北路</string>
			<key>name</key>
			<string>华侨城商店</string>
			<key>grade</key>
			<string>6.5</string>
			<key>distance</key>
			<string>905</string>
			<key>number</key>
			<string>190</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon11.png</string>
			<key>address</key>
			<string>浦口星火路</string>
			<key>name</key>
			<string>测试</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>134</string>
			<key>number</key>
			<string>506</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon12.png</string>
			<key>address</key>
			<string>新城科技园</string>
			<key>name</key>
			<string>13层</string>
			<key>grade</key>
			<string>5.6</string>
			<key>distance</key>
			<string>67</string>
			<key>number</key>
			<string>46</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon1.png</string>
			<key>address</key>
			<string>鼓楼</string>
			<key>name</key>
			<string>鼓楼医院</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>12</string>
			<key>number</key>
			<string>53</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon2.png</string>
			<key>address</key>
			<string>玄武湖</string>
			<key>name</key>
			<string>玄武湖公园</string>
			<key>grade</key>
			<string>9.8</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>543</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon4.png</string>
			<key>address</key>
			<string>明孝陵地铁</string>
			<key>name</key>
			<string>aaa</string>
			<key>grade</key>
			<string>6.7</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>546</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buyicon5.png</string>
			<key>address</key>
			<string>上海路</string>
			<key>name</key>
			<string>狮子桥美食街</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>56</string>
			<key>number</key>
			<string>86</string>
		</dict>
	</array>
	<key>sport</key>
	<array>
		<dict>
			<key>icon</key>
			<string>sporticon1.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>奇迹健身</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sporticon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>新街口健身</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sporticon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>梅花健身</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
	</array>
	<key>print</key>
	<array>
		<dict>
			<key>icon</key>
			<string>printicon1.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>图文</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>printicon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>图文</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>printicon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>图文</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
	</array>
	<key>history</key>
	<array>
		<dict>
			<key>icon</key>
			<string>historyicon1.png</string>
			<key>address</key>
			<string>河西万达</string>
			<key>name</key>
			<string>测试商店</string>
			<key>grade</key>
			<string>5.4</string>
			<key>distance</key>
			<string>123</string>
			<key>number</key>
			<string>532</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>historyicon2.png</string>
			<key>address</key>
			<string>南京新街口</string>
			<key>name</key>
			<string>测试商店</string>
			<key>grade</key>
			<string>4.4</string>
			<key>distance</key>
			<string>60</string>
			<key>number</key>
			<string>109</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>historyicon3.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>万达百货</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>historyicon4.png</string>
			<key>address</key>
			<string>紫荆山</string>
			<key>name</key>
			<string>奇迹健身</string>
			<key>grade</key>
			<string>7.8</string>
			<key>distance</key>
			<string>43</string>
			<key>number</key>
			<string>56</string>
		</dict>
	</array>
	<key>weather</key>
	<array>
		<dict>
			<key>icon</key>
			<string>weathericon1.png</string>
			<key>day</key>
			<string>星期一</string>
			<key>mom</key>
			<string>2月1号</string>
			<key>min</key>
			<string>11</string>
			<key>max</key>
			<string>22</string>
			<key>air</key>
			<string>30</string>
			<key>shidu</key>
			<string>43</string>
			<key>ziwai</key>
			<string>55</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>weathericon2.png</string>
			<key>day</key>
			<string>星期二</string>
			<key>mom</key>
			<string>2月2号</string>
			<key>min</key>
			<string>8</string>
			<key>max</key>
			<string>16</string>
			<key>air</key>
			<string>32</string>
			<key>shidu</key>
			<string>46</string>
			<key>ziwai</key>
			<string>90</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>weathericon3.png</string>
			<key>day</key>
			<string>星期三</string>
			<key>mom</key>
			<string>2月3号</string>
			<key>min</key>
			<string>23</string>
			<key>max</key>
			<string>45</string>
			<key>air</key>
			<string>67</string>
			<key>shidu</key>
			<string>43</string>
			<key>ziwai</key>
			<string>88</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>weathericon4.png</string>
			<key>day</key>
			<string>星期四</string>
			<key>mom</key>
			<string>2月4号</string>
			<key>min</key>
			<string>12</string>
			<key>max</key>
			<string>23</string>
			<key>air</key>
			<string>55</string>
			<key>shidu</key>
			<string>67</string>
			<key>ziwai</key>
			<string>98</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>weathericon5.png</string>
			<key>day</key>
			<string>星期五</string>
			<key>mom</key>
			<string>2月5号</string>
			<key>min</key>
			<string>9</string>
			<key>max</key>
			<string>12</string>
			<key>air</key>
			<string>56</string>
			<key>shidu</key>
			<string>8</string>
			<key>ziwai</key>
			<string>24</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>weathericon6.png</string>
			<key>day</key>
			<string>星期六</string>
			<key>mom</key>
			<string>2月6号</string>
			<key>min</key>
			<string>21</string>
			<key>max</key>
			<string>56</string>
			<key>air</key>
			<string>32</string>
			<key>shidu</key>
			<string>65</string>
			<key>ziwai</key>
			<string>87</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>weathericon7.png</string>
			<key>day</key>
			<string>星期天</string>
			<key>mom</key>
			<string>2月7号</string>
			<key>min</key>
			<string>23</string>
			<key>max</key>
			<string>4</string>
			<key>air</key>
			<string>54</string>
			<key>shidu</key>
			<string>65</string>
			<key>ziwai</key>
			<string>76</string>
		</dict>
	</array>
	<key>buycar</key>
	<array>
		<dict>
			<key>icon</key>
			<string>buycaricon1.png</string>
			<key>name</key>
			<string>极美孜然调味料</string>
			<key>price</key>
			<string>￥:5.4元</string>
			<key>number</key>
			<string>2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buycaricon2.png</string>
			<key>name</key>
			<string>西葫芦</string>
			<key>price</key>
			<string>￥:6.4元</string>
			<key>number</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>buycaricon3.png</string>
			<key>name</key>
			<string>糖水黄桃水果罐头</string>
			<key>price</key>
			<string>￥:11.4元</string>
			<key>number</key>
			<string>1</string>
		</dict>
	</array>
	<key>integral</key>
	<array>
		<dict>
			<key>name</key>
			<string>极美孜然调味料</string>
			<key>price</key>
			<string>￥:5.4元</string>
			<key>number</key>
			<string>2</string>
		</dict>
	</array>
	<key>dayplan</key>
	<array>
		<array>
			<string>1.下班后在地铁站充值公交卡，然后参加同事生日聚会</string>
			<string>2.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>3.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>4.出去吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.日程安排</string>
			<string>2.公交站台</string>
			<string>3.我的安排日记</string>
		</array>
		<array>
			<string>1.下班后在地铁站充值公交卡，然后参加同事生日聚会</string>
			<string>2.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>3.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>4.出去吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.日程安排</string>
			<string>2.公交站台</string>
			<string>3.我的安排日记</string>
		</array>
		<array>
			<string>1.下班后在地铁站充值公交卡，然后参加同事生日聚会</string>
			<string>2.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>3.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>4.出去吃饭</string>
		</array>
		<array>
			<string>1.下班后在地铁站充值公交卡，然后参加同事生日聚会</string>
			<string>2.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>3.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>4.出去吃饭</string>
		</array>
		<array>
			<string>1.下班后在地铁站充值公交卡，然后参加同事生日聚会</string>
			<string>2.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>3.在图文店打印上周外出旅行的照片，然后进行装裱</string>
			<string>4.出去吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.买东西</string>
			<string>2.卖东西</string>
			<string>3.吃饭</string>
		</array>
		<array>
			<string>1.日程安排</string>
			<string>2.公交站台</string>
			<string>3.我的安排日记</string>
		</array>
		<array>
			<string>1.日程安排</string>
			<string>2.公交站台</string>
			<string>3.我的安排日记</string>
		</array>
		<array>
			<string>1.日程安排</string>
			<string>2.公交站台</string>
			<string>3.我的安排日记</string>
		</array>
		<array>
			<string>1.日程安排</string>
			<string>2.公交站台</string>
			<string>3.我的安排日记</string>
		</array>
	</array>
</dict>
</plist>
